.menu {
}

.list {
  list-style-type: none;
  display: flex;
}

.item {
  border-top: 2px solid #ffffff00;
  border-bottom: 2px solid #ffffff00;
  border-left: 2px solid #ffffff00;
  transition: all 0.1s;
  position: relative;
}
.button {
  font-family: "Comfortaa", sans-serif;
  font-size: 18px;
  line-height: 28px;
  background: 0;
  outline: 0;
  border: 0;
  color: #fff;
  padding: 5px 10px 5px 15px;
}

.item:hover {
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  border-radius: 15px 0 0 15px;
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
}

.item:hover.item:after {
  content: "";
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-radius: 15px 0 0 0;
  width: 100px;
  height: 20px;
  position: absolute;
  top: -2px;
  left: -2px;
}

.item:not(:last-child) {
  margin-right: 60px;
}
