.about {
  padding: 100px 200px 160px;

  background-size: cover;
  overflow: hidden;
}

.title {
  margin-bottom: 84px;

  color: #323232;
}

.text {
  font-size: 18px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  position: relative;
}
.wrapper:not(:last-child) {
  margin-bottom: 122px;
}

.img {
  height: 200px;
  width: 100%;
  box-shadow: 20px -30px 0 rgb(35, 47, 65), 0 0 40px 10px rgb(54, 60, 68);
}
.imgTop {
  background: url(./books_1.jpeg) center center no-repeat;
  background-size: cover;
  position: relative;
}

.imgTop::after {
  content: "";
  background: url(./books_2.jpeg) center center no-repeat;
  height: inherit;
  width: inherit;
  background-size: cover;
  position: absolute;
  right: -45px;
  top: 0;
  transform: translate(100%);
  box-shadow: 20px -30px 0 rgb(35, 47, 65), 0 0 40px 10px rgb(54, 60, 68);
}

.imgBottom {
  background: url(./books.jpeg) center center no-repeat;
  background-size: cover;
  position: relative;
}

.imgBottom::after {
  content: "";
  background: url(./books_2.jpeg) center center no-repeat;
  height: inherit;
  width: inherit;
  background-size: cover;
  position: absolute;
  left: -45px;
  top: 0;
  transform: translate(-100%);
  box-shadow: 20px -30px 0 rgb(35, 47, 65), 0 0 40px 10px rgb(54, 60, 68);
}

.decoration {
  position: absolute;
  width: 90%;
  height: 105%;
  z-index: -1;
}

.decorationTop {
  border-left: 3px solid #323232;
  border-bottom: 3px solid #323232;
  border-top: 3px solid #323232;
  border-radius: 40px 0 0 40px;
  width: 150%;
  left: -50px;
  top: -10px;
}

.decorationTop:after {
  content: "";
  width: 60%;
  height: 100px;
  background-color: #fff;
  position: absolute;
  bottom: -30px;
  right: 0;
}

.decorationBottom {
  border-right: 3px solid #323232;
  border-bottom: 3px solid #323232;
  border-top: 3px solid #323232;
  border-radius: 0 40px 40px 0;
  width: 150%;
  right: -50px;
  top: -10px;
}

.decorationBottom:after {
  content: "";
  width: 60%;
  height: 100px;
  background-color: #fff;
  position: absolute;
  bottom: -30px;
  left: 0;
}
