.wrapper {
  padding: 150px 150px;
  overflow: hidden;
}

.text {
  padding: 20px 40px 30px 60px;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  box-shadow: 0 0 50px 2px rgb(218, 218, 218);
}
