.header {
  background: linear-gradient(
      -45deg,
      rgb(0, 20, 45, 0%) 0%,
      rgb(1, 13, 27, 53%) 50%,
      rgb(2, 4, 27, 76%) 100%
    ),
    /* url(./BG_swirl.png) center center no-repeat; */ url(./BG_boat.jpeg)
      center center no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-radius: 120px 0 0 0; */
}

.menu {
  position: absolute;
  top: 30px;
}

.title {
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 46px;
  text-align: center;
  color: #fff;
  text-shadow: 0px 0px 7px rgb(212, 212, 212);
}

.footer {
  background-image: linear-gradient(to bottom, #130f0f 0%, #0d1726 100%);
  color: #fff;
  padding: 100px 200px;
}

.titleSmall {
  color: #fff;
  text-shadow: 1px 1px 3px #ffffffb1;
  margin-bottom: 65px;
}
