.header {
  background: linear-gradient(
      -45deg,
      rgb(139, 232, 255, 61%) 0%,
      rgb(0, 98, 199, 62%) 50%,
      rgb(177, 97, 168, 67%) 100%
    ),
    /* url(./BG_swirl.png) center center no-repeat; */ url(./BG_boat.jpeg)
      center center no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 120px 0 0 0;
}

.title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 46px;
  text-align: center;
  color: #fff;
  text-shadow: 0px 0px 7px rgb(212, 212, 212);
}
